body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    margin-top: 0px;
    width: 100%;
}
b{
    font-size: 20px;
    color: red;
}
#status, #check{
    font-size: 20px;
}
canvas{
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}